{% extends "index.html" %}

{% block screenshot_block %}
<div scroll="no" class="magnify" style='height: min-content; width: min-content'>
    {% if subject_values.screenshot.endswith('webm') %}
        <video width="" loop="true" autoplay="true" muted="true">
            <source src="{{ subject_values.screenshot }}" type="video/webm">
        </video>
    {% else %}
        <img class="small" data-src="{{subject_values.screenshot}}" style='max-height: 720px; max-width: 1700px'>
    {% endif %}
    <div class="large" style="background: url('{{subject_values.screenshot}}') no-repeat;"></div>
</div>
{% endblock %}

{% block subjects_block %}
<div class="w3-container w3-light-blue w3-padding-16 w3-quarter">
<div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
<div class="w3-right">
<h3>{{nb_subjects}}</h3>
</div>
<div class="w3-clear"></div>
<h4>Number of subjects</h4>
</div>
{% endblock %}

{% block warning_block %}
{% if metric_warning.nb_warnings == 0 %}
    <div data-toggle="collapse" class="w3-container w3-light-green w3-padding-16 w3-quarter" style="display:inline-block" data-target="#{{ metric_name|replace(" ", "_") }}_warning">
{% else %}
    <div data-toggle="collapse" class="w3-container w3-orange w3-padding-16 w3-quarter" style="display:inline-block" data-target="#{{ metric_name|replace(" ", "_") }}_warning">
{% endif %}
<div class="w3-left"><i class="fa fa-exclamation-triangle w3-xxxlarge"></i> {{metric_name}}</div>
<div class="w3-right ">
<h3>{{metric_warning.nb_warnings}}</h3>
</div>
<div class="w3-clear"></div>
<h4>
    {% if metric_warning.nb_warnings > 0 %}
    <div class="fa fa-chevron-down"></div>
    {% endif %}
    Number of warnings
</h4>
{% if metric_warning.nb_warnings > 0 %}
<div id="{{ metric_name|replace(" ", "_") }}_warning" class="collapse">
<div class="w3-row-padding">
    {% for name, warning_list in metric_warning.items() %}
        {% if name != "nb_subjects" and name != "nb_warnings" %}
            <ul><li><h4>{{name}}</h4></li>
            {% for warning_image in warning_list %}
                <li><h5>{{warning_image}}</h5></li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endfor %}
</div>
</div>
{% endif %}
</div>
{% endblock %}

{% block comment_block %}
<button id="{{ subject_name }}_comment" class="open-button" onclick="openForm(this)">Quality report</button>

<div class="chat-popup" id="{{ subject_name }}_comment_box">
    <div class="form-container">
        <h2>Quality report</h2>
        <button class="button" id="{{ subject_name }}_pass"
                name="{{ subject_name }}" style="background-color: green"
                onclick="update_status(this)">Pass
        </button>
        <button class="button" id="{{ subject_name }}_warning"
                name="{{ subject_name }}" style="background-color: orange"
                onclick="update_status(this)">Warning
        </button>
        <button class="button" id="{{ subject_name }}_fail"
                name="{{ subject_name }}" style="background-color: red"
                onclick="update_status(this)">Fail
        </button>
        <button class="button" id="{{ subject_name }}_pending"
                name="{{ subject_name }}" style="background-color: grey"
                onclick="update_status(this)">Pending
        </button>
        <br><br>
        <form>
            <label>Classic comments:</label>
            <br>
            <select style="width: 60%; display: inline" class="comment_choice" id="{{ subject_name }}_comment_choice" multiple="multiple">
                <optgroup label="Pass">
                    <option>black holes</option>
                </optgroup>
                <optgroup label="Warning">
                    <option>cut cerebellum</option>
                    <option>cut superior cortex</option>
                    <option>important slice drops</option>
                    <option>zipping/aliasing artefact</option>
                </optgroup>
                <optgroup label="Fail">
                    <option>missing image sections / DWI</option>
                </optgroup>
            </select>
            <br>
            <button style="display: inline; width: 35%; padding:2px 0px; margin-bottom:0px" type="button" class="btn" onclick="add_to_box()">
            Add
        </button>
        </form>
        <div class="form-group">
            <textarea oninput="comment_update()" rows="5"
                      id="{{ subject_name }}_comments"
                      style="resize: none; width: 100%"
                      placeholder="Your comments here..."></textarea>
        </div>
        <button type="button" class="btn cancel" onclick="closeForm(this)">
            Close
        </button>
    </div>
</div>
{% endblock %}
