{% extends "index.html" %}

{% block screenshot_block %}
<div scroll="no" class="magnify" style='height: min-content; width: min-content'>
    <img class="small" src="{{subject_values.screenshot}}" style='max-height: 720px; max-width: 1700px'>
    <div class="large" style="background: url('{{subject_values.screenshot}}') no-repeat;"></div>
</div>
{% endblock %}

{% block subjects_block %}
<div class="w3-container w3-green w3-padding-16 w3-quarter">
<div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
<div class="w3-right">
<h3>{{nb_subjects}}</h3>
</div>
<div class="w3-clear"></div>
<h4>Number of subjects</h4>
</div>
{% endblock %}

{% block warning_block %}
<div data-toggle="collapse" class="w3-container w3-orange w3-padding-16 w3-quarter" style="display:inline-block" data-target="#{{ metric_name|replace(" ", "_") }}_warning">
<div class="w3-left"><i class="fa fa-exclamation-triangle w3-xxxlarge"></i> {{metric_name}}</div>
<div class="w3-right ">
<h3>{{metric_warning.nb_warnings}}</h3>
</div>
<div class="w3-clear"></div>
<h4><div class="fa fa-chevron-down"></div> Number of warnings</h4>
<div id="{{ metric_name|replace(" ", "_") }}_warning" class="collapse">
<div class="w3-row-padding">
    {% for name, warning_list in metric_warning.items() %}
        {% if name != "nb_subjects" and name != "nb_warnings" %}
            <ul><li><h4>{{name}}</h4></li>
            {% for warning_image in warning_list %}
                <li><h5>{{warning_image}}</h5></li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endfor %}
</div>
</div>
</div>
{% endblock %}

{% block comment_block %}
<div class="w3-padding-16">
    <div class="w3-container w3-grey w3-padding-16" style="width: 40%; border-radius: 8px">
        <h2><span>Quality report: </span><span class="status" id="{{ subject_name }}_status"></span></h2>
        <button class="button" id="{{ subject_name }}_pass" name="{{ subject_name }}" style="background-color: green" onclick="update_status(this)">Pass</button>
        <button class="button" id="{{ subject_name }}_warning" name="{{ subject_name }}" style="background-color: orange" onclick="update_status(this)">Warning</button>
        <button class="button" id="{{ subject_name }}_fail" name="{{ subject_name }}" style="background-color: red" onclick="update_status(this)">Fail</button>
        <div class="form-group">
            <textarea oninput="comment_update()" rows="5" id="{{ subject_name }}_comments" style="resize: none; width: 100%" placeholder="Your comments here..."></textarea>
        </div>
    </div>
</div>
{% endblock %}